<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro.IconPacks" version="4.8.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.8.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.0-ci2405" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0-ci2405" targetFramework="net472" />
</packages>